.top :global(.dropdown-item) {
  color: var(--secondary);
}
.top :global(.dropdown-item) :global(.fa-fw) {
  margin-right: 0.25rem;
}
.top :global(.card-header) {
  cursor: pointer;
}
.top :global(.card-header) :global(.input-group-text) {
  cursor: text;
}
.button_group {
  margin: -10px 0;
}
