.top :global(.dropdown-item) {
  color: var(--secondary);
}
.top :global(.dropdown-item) :global(.fa-fw) {
  margin-right: 0.25rem;
}
.top :global(.card-header) {
  cursor: pointer;
}
.top :global(.card-header) :global(.input-group-text) {
  cursor: text;
}
.top :global(.input-group-prepend) :global(.btn-light),
.top :global(.input-group-append) :global(.btn-light) {
  border-color: #ced4da;
}
.button_group {
  margin: -10px 0;
}
.fix_w {
  text-align: center;
  display: inline-block;
  width: 3em;
}
.short_break_icon {
  color: #8b4513;
}
.long_break_icon {
  color: #d2b48c;
}
