.fresh :global(.leaf) {
  color: green;
}
.fresh :global(.tomato) {
  color: red;
}
.stale :global(.leaf) {
  color: yellowgreen;
}
.stale :global(.tomato) {
  color: orange;
}
.bl {
  border-left: 1px solid lightgreen;
}
.br {
  border-right: 1px solid lightgreen;
}
